.es-horizontal-nav {
    padding:0;
    margin:10px 0;
    list-style:none
   }
   .es-horizontal-nav li {
    display:inline-block
   }
   .es-horizontal-nav li a {
    padding:10px;
    text-decoration:none
   }
   .es-content {
    min-height:calc(100vh - 580px)
   }
   .es-link {
    font-family:"SabonLTPro-Roman",serif
   }
   .es-bg1 {
    background-color:#38D65D
   }
   .es-bg2 {
    background-color:#F29B74;
   }
   .es-bg3 {
    background-color:#F3FB34
   }
   .es-bg4 {
    background-color:#CECECB
   }
   .es-slideshow-arrow {
    background:rgba(255,255,255,.5)
   }
   .es-slideshow ul {
    margin-bottom:22px
   }
   .es-figure {
    margin-bottom:26px!important
   }
   figcaption {
    font-size:.882rem
   }
   .eu-memberlogin input {
    border:1px solid #999
   }
   .plyr {
    margin-bottom:22px!important
   }
   .es-header {
    height:135px
   }
   @media only screen and (min-width:640px) {
    .es-header {
     height:215px
    }
   }
   @media only screen and (min-width:960px) {
    .es-header {
     height:310px
    }
   }
   .home .es-header {
    height:175px
   }
   @media only screen and (min-width:640px) {
    .home .es-header {
     height:225px
    }
   }
   .es-logo {
    width:57px
   }
   @media only screen and (min-width:960px) {
    .es-logo {
     width:77px
    }
   }
   .es-logo-box {
    padding-top:10px
   }
   @media only screen and (min-width:960px) {
    .es-logo-box {
     padding-top:20px
    }
   }
   .es-logo-text {
    padding-top:22px;
    padding-left:20px;
    width:153px
   }
   @media only screen and (min-width:960px) {
    .es-logo-text {
     padding-top:38px;
     padding-left:25px;
     width:232px
    }
   }
   .es-logo-wrap {
    width:230px
   }
   @media only screen and (min-width:960px) {
    .es-logo-wrap {
     width:334px
    }
   }
   .es-nav-main {
    display:none
   }
   @media only screen and (min-width:760px) {
    .es-nav-main {
     display:block
    }
   }
   .es-nav-toggle {
    display:inline-block;
    margin-top:15px
   }
   @media only screen and (min-width:760px) {
    .es-nav-toggle {
     display:none
    }
   }
   .es-nav-main>ul>li ul {
    width:200px
   }
   @media only screen and (min-width:960px) {
    .es-nav-main>ul>li ul {
     width:240px
    }
   }
   .es-nav-main>ul>li:last-child ul {
    right:-6px;
    left:auto;
    text-align:right
   }
   .es-nav {
    font-family:"SabonLTPro-Roman",serif
   }
   .es-nav ul {
    list-style:none
   }
   .es-nav a {
    text-decoration:none
   }
   .es-nav a:hover {
    color:#25b647
   }
   .es-nav li.uk-active>a {
    color:#25b647
   }
   .es-nav-main {
    padding-top:38px
   }
   @media only screen and (min-width:960px) {
    .es-nav-main {
     padding-top:68px
    }
   }
   .es-nav-main li {
    position:relative
   }
   .uk-navbar-nav>li>a {
    padding:0;
    font-size:inherit
   }
   .es-nav-main-sub {
    margin-top:18px;
    margin-left:-6px;
    position:absolute;
    background:#E6E6E6;
    padding:6px 6px 18px
   }
   .es-navbar-icon {
    display:flex
   }
   .es-navbar-icon svg {
    margin-top:-3px
   }
   .es-nav-main li:first-child {
    padding-left:0
   }
   .es-member-link {
    position:absolute;
    top:5px;
    text-decoration:none;
    display:none
   }
   .es-member-link.uk-active {
    color:#25b647
   }
   @media only screen and (min-width:760px) {
    .es-member-link {
     display:inline-block
    }
   }
   .es-offnav {
    padding:0;
    list-style:none
   }
   .es-offnav .uk-active>a {
    color:#fff
   }
   .es-offnav a {
    text-decoration:none;
    line-height:32px;
    display:inline-block
   }
   .es-offnav ul {
    margin-bottom:22px;
    list-style:none
   }
   .es-offnav .es-navbar-icon {
    padding-bottom:5px
   }
   .uk-offcanvas-bar .es-member-link {
    position:relative;
    display:inline-block
   }
   .es-hero {
    position:relative
   }
   .es-hero img {
    object-fit:cover;
    max-width:none!important;
    height:100%;
    width:100%
   }
   .es-hero-overlay {
    position:absolute;
    left:10px;
    bottom:10px;
    right:10px;
    padding:15px
   }
   @media only screen and (min-width:420px) {
    .es-hero-overlay {
     left:30px;
     top:51%;
     bottom:30px;
     right:30px;
     padding:25px 25px
    }
   }
   @media only screen and (min-width:640px) {
    .es-hero-overlay {
     left:51%;
     top:30px
    }
   }
   .es-hero-overlay a {
    color:#fff;
    font-size:22px;
    line-height:1.227
   }
   .es-hero-overlay a:hover {
    color:#fff
   }
   @media only screen and (min-width:960px) {
    .es-hero-overlay a {
     font-size:30px;
     line-height:1.333
    }
   }
   .es-hero-headline {
    font-size:36px;
    line-height:1.228;
    color:#fff
   }
   @media only screen and (min-width:960px) {
    .es-hero-headline {
     font-size:70px;
     line-height:1.086
    }
   }
   .es-bg4 .es-hero-headline {
    color:#000
   }
   @media only screen and (max-width:639px) {
    .es-hero {
     height:0;
     overflow:hidden;
     padding-top:147.4666666667%;
     position:relative
    }
    .es-hero .uk-inline {
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%
    }
   }
   .es-shadow {
    transition:filter 0.5s;
    filter:drop-shadow(transparent 3px 9px 9px);
   }
   .es-shadow:hover {
    filter:drop-shadow(rgba(0,0,0,.25) 3px 9px 9px)
   }
   .es-clip {
    clip-path:polygon(0 0,100% 0,100% 0,100% calc(100% - 65px),calc(100% - 65px) 100%,0 100%);
   }
   .es-card {
    height:100%;
    max-width:420px
   }
   .es-card-h2 {
    margin-bottom:0;
    padding-bottom:12px;
    font-size:22px;
    line-height:1.227
   }
   @media only screen and (min-width:960px) {
    .es-card-h2 {
     font-size:36px;
     line-height:1.1667
    }
   }
   h3.es-card-h3 {
    font-size:30px;
    line-height:36px
   }
   .es-cards-without-heads .es-card {
    padding-bottom:60px
   }
   .es-card-round {
    text-align:center
   }
   .es-card-round img {
    margin:8px auto 0;
    max-width:50%
   }
   .es-card-ratio {
    display:flow-root;
    position:relative
   }
   .es-card-ratio span.uk-icon {
    margin-top:10px
   }
   .es-card-ratio::before {
    content:"";
    float:left;
    padding-bottom:61.9%
   }
   .es-card-ratio--small::before {
    padding-bottom:31.9%
   }
   .es-icon-box {
    padding-right:5vw
   }
   .es-card-body {
    padding-bottom:0
   }
   .es-card-link {
    padding-right:60px
   }
   .es-loadall-button {
    margin-top:3em;
    border:1px solid #999
   }
   .es-hidden-teaser {
    display:none
   }
   .load-all .es-hidden-teaser {
    display:block
   }
   .load-all .es-loadall-button {
    display:none
   }
   @media only screen and (max-width:959px) {
    .es-cards-with-heads {
     margin-top:-40px
    }
    .es-cards-with-heads>div {
     padding-top:40px
    }
    .es-card-big .es-icon-box svg {
     width:60px;
     height:60px
    }
    .es-icon-box {
     margin-right:20px
    }
   }
   .es-footer {
    font-family:"SabonLTPro-Roman",serif;
    border-top:1px solid #000;
    padding-top:23px;
    height:207px
   }