<!DOCTYPE html>
<html>
    <head>
        <!-- HTML Skeletton -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jay's Flask Cheat Sheet</title>

        <!-- UI KIT -->
        <link rel="stylesheet" href="../static/uikit/css/uikit.min.css" />
        <script src="../static/uikit/js/uikit.min.js"></script>
        <script src="../static/uikit/js/uikit-icons.min.js"></script>

    </head>
    <body>
        <article>
            
            <h1>Jay's Flask Cheat Sheet</h1>
            {% for i in todos %}
                <ul>
                    <li>{{ i }}</li>
                </ul>
            {% endfor %}
            <form method="POST">
                {{ template_form.hidden_tag() }}
                <p>
                    <!-- {{ template_form.todo.label }} -->
                    {{ template_form.todo() }}
                    {{ template_form.submit() }}
            
                </p>
            </form>


        </article>
    </body>
</html>